
/* Root Var */
:root {
    /* Primary Colors */
    --active-input-color: linear-gradient(#6448fe, #600594);
    --error-color: #ff5252;

    /* Neutral Colors */
    --white: #ffffff;
    --light-grayish-violet: #dedddf;
    --dark-grayish-violet: #8e8593;
    --very-dark-violet: #21092f;
}

/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}